server:
  port: 8082

spring:
  main:
    allow-bean-definition-overriding: true

  application:
    name: booking-service

  datasource:
    url: jdbc:postgresql://localhost:5432/booking_app
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration/booking
    table: flyway_schema_history_booking
    schemas: public

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.trusted.packages: "*"
    topics:
      booking-events: booking-events
      payment-events: payment-events

eureka:
  client:
    enabled: false
  instance:
    enabled: false

services:
  car-service:
    url: http://localhost:8083
  payment-service:
    url: http://localhost:8084

booking:
  payment:
    timeout-minutes: 5

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

feign:
  circuitbreaker:
    enabled: true