server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/user/**
        - id: car-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/cars/**
          filters:
            - RemoveRequestHeader=Cookie
            - RemoveRequestHeader=Set-Cookie
            - PreserveHostHeader
            - StripPrefix=0

        - id: booking-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/bookings/**
          filters:
            - PreserveHostHeader
            - StripPrefix=0

        - id: payment-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/payments/**
          filters:
            - RemoveRequestHeader=Cookie
            - RemoveRequestHeader=Set-Cookie
            - PreserveHostHeader
            - StripPrefix=0

        - id: notification-service
          uri: http://localhost:8085
          predicates:
            - Path=/ws/**
          filters:
            - RemoveRequestHeader=Cookie
            - RemoveRequestHeader=Set-Cookie
            - PreserveHostHeader
            - StripPrefix=0

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods:
              - "GET"
              - "POST"
              - "PUT"
              - "DELETE"
              - "OPTIONS"
            allowedHeaders: "*"
            allowCredentials: true

eureka:
  client:
    enabled: false
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: false
    register-with-eureka: false
  instance:
    prefer-ip-address: true

jwt:
  secret: "d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2c3d4"

logging:
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] [%X{requestId}] %-5level %logger{36} - %msg%n"
  level:
    root: INFO
    com.gateway: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG 