server:
  port: 8083

spring:
  application:
    name: car-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/car_app
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  
  sql:
    init:
      mode: always
      platform: postgresql
  
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    create-schemas: true
  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: car-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "com.carapp.dto.*,com.paymentapp.dto.*"
        spring.json.type.mapping: "com.paymentapp.dto.PaymentEvent:com.carapp.dto.PaymentEvent"
    listener:
      missing-topics-fatal: false

eureka:
  client:
    enabled: false
  instance:
    prefer-ip-address: true


logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    com.carapp: DEBUG
    root: INFO