server:
  port: 8083

spring:
  application:
    name: car-service
  datasource:
    url: jdbc:postgresql://localhost:5432/car_app
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    com.carapp: DEBUG
    root: INFO 